language: node_js
node_js:
  - '10.16.3'

dist: trusty
sudo: true

addons:
  chrome: stable

branches:
  only:
    - master

notifications:
  slack: tfg-tfm:lwgeRIHNsxUNHjAFJPiDBE37

cache:
  directories:
    - backend/node_modules
    - node_modules

before_script:
  - npm install -g @angular/cli
  - npm install

  - cd backend
  - npm install
  - cd ..

script:
  - cd backend
  - npm test

  - cd ..

  - npm run lint
  - npm run test
  - npm run build
