language: node_js
node_js:
  - 10.16.3
dist: trusty
sudo: true
addons:
  chrome: stable
branches:
  only:
    - master
notifications:
  slack:
    rooms: tfg-tfm:Nt0zyMTjL9krI6NigVWgzYIC
    on_success: always
    on_failure: never
cache:
  directories:
    - backend/node_modules
    - node_modules
before_script:
  - npm install -g @angular/cli
  - npm ci
  - cd backend
  - npm ci
  - cd ..
script:
  - cd backend
  - npm test
  - cd ..
  - npm run test
  - npm run build
deploy:
  provider: heroku
  api_key:
    secure: BenOncehAL8xDoF5P0Fwr7zQOQj6AW6Nzz1M5zVXNeFYoZE5ZSJfff5lvjjhwmnosixaihgrIrYn2v08FLTyVAP0cOLa+MB5pyVEYhFxT3LtvqBS74BmDiNNGrlUjaY73DnZTcQGDFzlj4sQwHVrX3wgeQqoKogOF+zlOOT025GawfZ2DiewUpDvYkXta+JChDBOsBLbSyXGl3sxKZwb+7Ld9MTkisy8sZWl76CDawx64nyVFES6V8vYKfEQULkh8eKTBqXCQD4P7LHd27ccXoU7Ld49oxQ3WwAZNh5B5AlxfOhTjrCxZNozsrxHWugAS4mtFN6T2KrwFrSMynvqZsiPoJUHsPKlvMCKoUDnxeclS4yL3t/DceMrJaXMsRB/hb/L19T3kUobBUHBumJqvvEYhRymjy/UwBhjkZ/wi2nm+Cv2isy0FMUTvc0PhJe/6pbG2NrsdjYuWNcTJaozS4ufNuNO2duqEjbT1DwpfFT1lk1hq4LXpK041PEAa53gC5h6BJB9W8s/fO4MTeimm6Sp6u60yP2rKu8vO8it0zg3/3t7XiVsV4Qcj1kGJKa4Y2yOV+ELP6OxDI+dpaSZrW7u1mhJLB6Y9zMJnj0nQi64MDhErWgaV0f9hHSYdxGgQXZfNv4L6ChKYeVtevQNVjZQky4TXMtvL6TAUpI4vaw=
  app: the-product-ownerd
