<div class="container">
  <app-loader class="loader" [isLoading]="isLoading"></app-loader>

  <mat-card class="proyectos-card gradient">
    <div>
      <button
        class="mat-button-create"
        mat-fab
        color="primary"
        (click)="crearProyectoDialog()"
        matTooltip="Create a new project"
        matTooltipPosition="left"
        matTooltipShowDelay="1000"
      >
        +
      </button>
    </div>
    <h1>
      <mat-card-title class="title">My Projects</mat-card-title>
    </h1>
    <!-- <mat-divider></mat-divider> -->
    <br />
    <mat-accordion>
      <div *ngFor="let proyecto of proyectos">
        <!-- <mat-card class="proyecto-card">
        
          <mat-card-title>Proyecto: {{ proyecto.nombre }}</mat-card-title>
        
        <mat-card-content>
          <p>
            Descripcion:{{proyecto.descripcion}}
          </p>
        </mat-card-content>
      </mat-card> -->
        <mat-expansion-panel
          class="proyecto-card mat-elevation-z3"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title style="font-size: 16px;"
              >[{{ proyecto.idproyecto }}]
              {{ proyecto.nombre }}
            </mat-panel-title>
            <mat-panel-description>
              {{ proyecto.descripcion }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br />
          <h1 class="mat-h4">Team</h1>
          <table mat-table [dataSource]="proyecto.usuarios" class="mat-elevation-z1">
            <ng-container matColumnDef="Rol">
              <th mat-header-cell *matHeaderCellDef>Role</th>
              <td mat-cell *matCellDef="let usuario">
                <p *ngIf="usuario.rol == 'productOwner'">Product Owner</p>
                <p *ngIf="usuario.rol == 'desarrollador'">Developer</p>
                <p *ngIf="usuario.rol == 'stakeholder'">Stakeholder</p>
              </td>
            </ng-container>
            <ng-container matColumnDef="Nombre">
              <th mat-header-cell *matHeaderCellDef>Nick</th>
              <td mat-cell *matCellDef="let usuario">{{ usuario.nick }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <!-- <mat-list>
            <mat-list-item *ngFor="let usuario of proyecto.usuarios">
              <h3 matLine> {{usuario.nombre}} </h3>
              <h3 matLine> {{usuario.rol}} </h3>
            </mat-list-item>
          </mat-list> -->
          <br />
          <button
            mat-raised-button
            color="primary"
            class="abrir-btn"
            [routerLink]="['/projects', proyecto.idproyecto]"
            routerLinkActive="active"
            [state]="{ proyecto: proyecto }"
            (click)="proyectoSeleccionado(proyecto)"
          >
            Open project
          </button>
        </mat-expansion-panel>
        <br />
      </div>
    </mat-accordion>
  </mat-card>
</div>
