<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <button class="close" mat-button (click)="close()">X</button>
  <div class="container2" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="title-card" fxLayout="row" fxLayoutAlign="center center" [style.background-color]="labelColor">
        <!-- matBadge="{{ estimacion }}"
      matBadgeOverlap="true"
      matBadgeSize="large"
      matBadgeColor="accent" -->

        <!-- <h1 mat-dialog-title>{{dialogMode}}</h1> -->
        <!--  <div fxFill fxLayout="row" style="display: inline-block;width: 90%;"> -->
        <h1 style="display: inline-block;width: 90%;">#{{ idpbi }} - {{ titulo }}</h1>
        <!-- </div>
      <div fxFlex="10%" fxLayoutAlign="end end" fxLayout="row" style="display: inline-block;"> -->

        <!-- 
        <button *ngIf="estimacion != null" class="estimacion" mat-mini-fab [color]="'value'" [disableRipple]="true">
          {{ estimacion }}
        </button> -->
        <!-- <h3 class="valor" *ngIf="valor">{{valor}}<mat-icon class="icon-valor">flash_on</mat-icon></h3> -->
        <button *ngIf="estimacion != null" class="estimacion" mat-fab color="accent" [disableRipple]="true">
          <h1>{{ estimacion }}</h1>
        </button>
        <!-- </div> -->
        <!--  <hr> -->
      </mat-card>

      <br />
      <br />

      <div fxLayout="row">
        <!--  <mat-card fxLayout="row"> -->

        <!-- fxLayoutAlign="center center" -->
        <!-- <div fxLayout="row"> -->
        <mat-form-field class="title form" appearance="outline">
          <mat-label>Title</mat-label>
          <input
            matInput
            required
            placeholder="PBI title"
            [(ngModel)]="titulo"
            maxlength="25"
            [disabled]="disabled || permisos.editarPBI == 0"
          />
        </mat-form-field>
        <!-- </div> -->

        <!-- <br> -->

        <!-- <div fxLayout="row"> -->
        <mat-form-field class="normal-form form" appearance="outline">
          <mat-label>Label</mat-label>
          <mat-select
            [(ngModel)]="label"
            (selectionChange)="setColor()"
            required
            [disabled]="disabled || permisos.editarPBI == 0"
          >
            <mat-option *ngFor="let label of labels" [value]="label">
              {{ label.charAt(0).toUpperCase() + label.substring(1) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--  </div> -->

        <!--  <br> -->

        <!-- <div fxLayout="row"> -->
        <mat-form-field class="number-form form" appearance="outline">
          <mat-label>Estimation</mat-label>
          <!-- <input matInput type="text" [(ngModel)]="estimacion" required> -->
          <mat-select
            [(ngModel)]="estimacion"
            [disabled]="disabled || permisos.editarPBI == 0 || permisos.estimarTam == 0"
          >
            <mat-option *ngFor="let fib of fibonacci" [value]="fib" required>{{ fib }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- </div> -->

        <mat-form-field class="number-form form" appearance="outline">
          <mat-label
            >Value
            <mat-icon class="icon-valor">offline_bolt</mat-icon>
          </mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="valor"
            [disabled]="disabled || permisos.editarPBI == 0 || permisos.estimarValor == 0"
          />
          <!-- <mat-select [(ngModel)]="estimacion" [disabled]="disabled">
            <mat-option *ngFor="let fib of fibonacci" [value]="fib" required>{{ fib }}</mat-option>
          </mat-select> -->
        </mat-form-field>

        <br />

        <div fxLayout="row">
          <mat-form-field class="description" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              placeholder="Description"
              [(ngModel)]="descripcion"
              [disabled]="disabled || permisos.editarPBI == 0"
            ></textarea>
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <h1 class="mat-h2" style="display: inline-block;margin-right: 2%;">Dependencies:</h1>

          <mat-chip-list style="display: inline-block;margin-right: 2%;">
            <mat-chip
              *ngFor="let dep of dependencias"
              [ngStyle]="{ 'background-color': getPbiColor(dep.idpbi2) }"
              color="accent"
              [removable]="true"
              (removed)="borrarDependencia(dep)"
              selected
              class="mat-typography"
            >
              {{ getPbiTitulo(dep.idpbi2) }}<mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>

          <mat-form-field style="display: inline-block;margin-right: 2%;">
            <mat-label>Add Dependencies</mat-label>
            <!--  <mat-select multiple (selectionChange)="actualizarDependencia(pbi)">
              <mat-option *ngFor="let pbi of pbis" [value]="pbi">
                #{{pbi.idpbi}} {{pbi.titulo}}</mat-option>
            </mat-select> -->
            <mat-select [(ngModel)]="dependenciaData" (selectionChange)="actualizarDependencia()">
              <mat-option *ngFor="let pbi of notSelectedPbis" [value]="pbi"
                >#{{ pbi.idpbi }} {{ pbi.titulo }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br />
        <!-- <br> -->

        <div mat-dialog-actions fxLayout="row">
          <!-- <div fxLayout="row" fxFill> -->
          <mat-checkbox class="checkbox" [checked]="checkDone()" (click)="markDone()"></mat-checkbox>
          <button
            *ngIf="checkDone()"
            class="done-button"
            mat-raised-button
            (click)="markDone()"
            color="accent"
            [disabled]="permisos.setDone == 0"
          >
            Unmark as Done
          </button>
          <button
            *ngIf="!checkDone()"
            class="done-button"
            mat-raised-button
            (click)="markDone()"
            color="accent"
            [disabled]="permisos.setDone == 0"
          >
            &nbsp;Mark as Done&nbsp;
          </button>
          <!--  </div>
        <div fxLayout="row" fxFlex="20"> -->
          <button
            class="save-button"
            mat-raised-button
            (click)="save()"
            [color]="'success'"
            [disabled]="!filled()"
            style="display: inline-block;margin-left: 80%;width: 9vmin;height: 5vmin;min-width: 100px;min-height: 50px;"
          >
            <mat-icon>save</mat-icon>&nbsp;&nbsp;Save
          </button>
          <!-- </div> -->

          <!--     <button class="close-button" mat-raised-button (click)="close()" color="primary">Close</button> -->
        </div>
        <!-- </mat-card> -->
        <br /><br />
        <hr />
        <br />
        <div fxLayout="row">
          <mat-card class="comments-card">
            <mat-card-title>Acceptance Criteria</mat-card-title>
          </mat-card>

          <mat-list role="list" *ngFor="let crit of criterios">
            <mat-list-item role="listitem">
              <mat-checkbox class="checkbox" [(ngModel)]="crit.done" (change)="actualizarCriterio(crit)"></mat-checkbox>
              {{ crit.nombre }}&nbsp;<mat-icon class="borrar-criterio-icon" (click)="borrarCriterio(crit)"
                >cancel
              </mat-icon>
            </mat-list-item>
          </mat-list>

          <div fxLayout="row">
            <mat-form-field class="criterio form" appearance="outline">
              <mat-label>New Acceptance Criteria</mat-label>
              <input
                matInput
                placeholder="New Acceptance Criteria"
                [(ngModel)]="criterioData"
                maxlength="50"
                [disabled]="disabled || permisos.editarPBI == 0"
              />
            </mat-form-field>
            <button
              class="save-button"
              mat-raised-button
              (click)="crearCriterio()"
              [color]="'success'"
              [disabled]="!criterioData"
              style="display: inline-block;width: 9vmin;height: 6vmin;min-width: 100px;min-height: 50px;"
            >
              <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;Create
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <mat-form-field appearance="fill" [color]="accent">
      <mat-label>Estimation</mat-label>
      <input matInput type="number">
    </mat-form-field> -->

    <br />
    <hr />
    <br />

    <!-- FILES -->
    <div>
      <mat-card class="comments-card">
        <mat-card-title>Files</mat-card-title>
      </mat-card>
      <br />
      <!-- <app-loader class="loader" [isLoading]="isLoading"></app-loader> -->

      <div fxLayout="row" fxLayoutAlign="end end" style="justify-content: flex-end">
        <div *ngIf="uploadFileMode">
          <mat-form-field>
            <input matInput required placeholder="File name" [(ngModel)]="archivoNombreData" />
          </mat-form-field>

          <input name="archivoSrcData" type="file" accept="*" (change)="onFileSelected($event)" />
          <div fxLayout="row">
            <button mat-raised-button color="warn" (click)="cargarImagen()">
              Cancel
            </button>

            <button
              mat-raised-button
              (click)="crearArchivo()"
              [color]="'success'"
              [disabled]="!archivoSrcData || !archivoNombreData"
              style="margin-left: 2%;"
            >
              <mat-icon>cloud_upload</mat-icon>&nbsp;Upload
            </button>
          </div>
        </div>
        <div *ngIf="!uploadFileMode">
          <button class="boton-cargar-imagen" mat-raised-button color="primary" (click)="cargarImagen()">
            <mat-icon>cloud_upload</mat-icon>&nbsp;Add file
          </button>
        </div>

        <!-- <mat-form-field class="title" appearance="outline">
          <mat-label>File name</mat-label>
          <input matInput required placeholder="File name" [(ngModel)]="archivoNombreData" maxlength="25"/>
        </mat-form-field> -->
        <!-- <button class="save-button" mat-raised-button (click)="crearArchivo()" [color]="'success'"
          [disabled]="!archivoSrcData || !archivoNombreData" style="justify-content: flex-end">
          <mat-icon>add_comment</mat-icon>&nbsp;&nbsp;Add file
        </button> -->
      </div>

      <br />
      <!-- <hr><br> -->
      <app-loader class="loader" [isLoading]="isLoading"></app-loader>

      <div fxLayout="row" *ngFor="let ar of archivos">
        <!--   <a [href]="ar.src" download="{{ ar.nombre }}">{{ ar.nombre }}</a> -->
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon class="icon-download" (click)="descargar(ar)">cloud_download</mat-icon>
            &nbsp;&nbsp;{{ ar.nombre }} &nbsp;
            <mat-icon class="borrar-criterio-icon" (click)="borrarArchivo(ar)">cancel</mat-icon>
          </mat-list-item>
        </mat-list>

        <!-- <p class="mat-typography" style="display: inline-block;margin-top: 5px;" >
          
        </p> -->
        <!-- (click)="download(ar)" -->
        <!-- <mat-card class="comentario">
          <mat-card-subtitle><b>{{ ar.nombre }}</b>
            <i style="font-size: smaller;">&nbsp;commented on {{ prettifier(com.fecha) }}</i>
          </mat-card-subtitle>
          <mat-card-content>
            {{ com.comentario }}
          </mat-card-content>
        </mat-card> -->
        <br />
      </div>
    </div>

    <br />
    <hr />
    <br />

    <!-- COMMENTS -->
    <div>
      <mat-card class="comments-card">
        <mat-card-title>Comments</mat-card-title>
      </mat-card>
      <br />
      <div fxLayout="row" fxLayoutAlign="end end" style="justify-content: flex-end">
        <mat-form-field class="description" appearance="outline">
          <mat-label>Write a comment...</mat-label>
          <textarea matInput [(ngModel)]="comentarioData"></textarea>
        </mat-form-field>
        <button
          class="save-button"
          mat-raised-button
          (click)="crearComentario()"
          [color]="'success'"
          [disabled]="!comentarioData"
          style="justify-content: flex-end"
        >
          <mat-icon>add_comment</mat-icon>&nbsp;&nbsp;Comment
        </button>
      </div>

      <br />

      <div *ngFor="let com of comentarios">
        <mat-card class="comentario">
          <mat-card-subtitle
            ><b>{{ com.nombre }}</b>
            <i style="font-size: smaller;">&nbsp;commented on {{ prettifier(com.fecha) }}</i>
          </mat-card-subtitle>
          <mat-card-content>
            {{ com.comentario }}
          </mat-card-content>
        </mat-card>
        <br />
      </div>
    </div>
  </div>
</div>
