.container {
  overflow: hidden;
}

.container2 {
  /* position: relative !important; */
  overflow-y: auto;
}

.title-card {
  background-color: #2196f3;
  color: white;
}

.close.mat-button {
  /* position: absolute; */
  top: 1%;
  /* right: 0; */
  left: 98%;
  margin-bottom: 1%;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
  font-family: "Roboto", sans-serif;
  font-size: large;
  color: #8b8b8b;
  font-weight: bold;
}

.form {
  margin-right: 3%;
}

.title {
  width: 30%;
}

.normal-form {
  width: 20%;
}

.number-form {
  width: 10%;
}

.description {
  width: 100%;
}

.icon-valor {
  position: relative;
  /* Adjust these values accordingly */
  top: 4px;
  /*  left: 5px; */
  font-size: 3vmin;
}

.criterio {
  width: 80%;
}
.criterio-nombre {
  overflow-wrap: break-word;
}
.borrar-criterio-icon {
  top: 5px;
  font-size: 2vmin;
  cursor: pointer;
}

.icon-download {
  position: relative;
  /* Adjust these values accordingly */
  /*  top: 3px; */
  /* left: 5px; */
  bottom: 5px;
  font-size: 3vmin;
  cursor: pointer;
}

.checkbox {
  margin-right: 1%;
}

.estimacion {
  margin-left: 2%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

/* .save-button {
  margin-left: 10%;
  display: inline-block;
  margin-left: 80%;
  width: 5vmin;
  height: 4vmin;
} */

.close-button {
  margin-right: 10%;
}

.mat-success {
  background-color: rgb(0, 173, 23);
  color: white;
}

.mat-value {
  background-color: rgb(2, 111, 253);
  color: white;
}

.comments-card {
  background-color: rgb(65, 65, 65);
  color: white;
}

.comentario {
  background-color: #f5f5f5;
}
