<div class="container">
  <div *ngIf="proyecto" fxLayout="column" fxLayoutGap="2%">
    <app-loader class="loader" [isLoading]="isLoading"></app-loader>
    <div fxLayout="row">
      <h2 fxFlex="20">{{ itemListTitle }}</h2>

      <div class="example-form" fxLayoutAlign="center center" fxFlex="50">
        <mat-form-field class="example-full-width">
          <!--  <mat-label>Filtrar por nombre</mat-label> -->
          <input
            matInput
            type="text"
            placeholder="Filter by name or description"
            [(ngModel)]="searchword"
            (input)="actualizarFiltro()"
          />
          <!-- style="border-style: solid;border-radius: 50px;" -->
        </mat-form-field>
        <button mat-raised-button [color]="viewDone ? 'accent' : 'primary'" style="margin-left: 5%;">
          <mat-icon>search</mat-icon>
        </button>

        <button
          mat-raised-button
          [color]="viewDone ? 'accent' : 'primary'"
          [matMenuTriggerFor]="menu"
          style="margin-left: 5%;"
        >
          Label
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="filtrarLabel('feature')">Feature</button>
          <button mat-menu-item (click)="filtrarLabel('bug')">Bug</button>
          <button mat-menu-item (click)="filtrarLabel('tech-debt')">Tech-debt</button>
          <button mat-menu-item (click)="filtrarLabel('infrastructure')">Infrastructure</button>
        </mat-menu>
      </div>

      <div fxLayoutAlign="end center" fxFlex>
        <button *ngIf="!viewDone" class="mat-button-create" mat-fab color="primary" (click)="crearPbiDialog()">
          +
        </button>
      </div>
    </div>

    <!-- BACKLOG ITEMS LIST -->
    <div class="div-list" *ngIf="!viewDone">
      <div class="droplist" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let pbi of showingPbis">
          <mat-card
            *ngIf="pbi.done == 0"
            class="card"
            matBadge="{{ pbi.estimacion }}"
            matBadgeOverlap="true"
            matBadgeSize="medium"
            matBadgeColor="accent"
            cdkDragBoundary=".droplist"
            cdkDrag
            (click)="editarPbiDialog(pbi)"
          >
            <mat-card-header>
              <mat-card-title>#{{ pbi.idpbi }} - {{ pbi.titulo }}</mat-card-title>
              <p style="color: rgb(119, 119, 119);font-size: 1.5vmin;">
                {{ pbi.descripcion | limitTo: 100 }}
              </p>
            </mat-card-header>
          </mat-card>
          <br />
        </div>
      </div>

      <div fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="swapItemList()">
          View Done Items
        </button>
      </div>
    </div>

    <!-- DONE ITEMS LIST -->
    <div class="div-list" *ngIf="viewDone">
      <div class="droplist">
        <div *ngFor="let pbi of showingPbis">
          <mat-card
            *ngIf="pbi.done == 1"
            class="card"
            matBadge="{{ pbi.estimacion }}"
            matBadgeOverlap="true"
            matBadgeSize="medium"
            matBadgeColor="accent"
            (click)="verPbiDialog(pbi)"
          >
            <mat-card-header>
              <mat-card-title>#{{ pbi.idpbi }} - {{ pbi.titulo }}</mat-card-title>
              <p style="color: rgb(119, 119, 119);font-size: 1.5vmin;">
                {{ pbi.descripcion | limitTo: 100 }}
              </p>
            </mat-card-header>
          </mat-card>
          <br />
        </div>
      </div>

      <div fxLayoutAlign="center center">
        <button mat-raised-button color="accent" (click)="swapItemList()">
          View Backlog Items
        </button>
      </div>
    </div>
  </div>
</div>
