<div class="container">
  <div *ngIf="proyecto" fxLayout="column" fxLayoutGap="2%">
    <app-loader class="loader" [isLoading]="isLoading"></app-loader>
    <div fxLayout="row">
      <h2 class="mat-h1" fxFlex="20">{{ itemListTitle }}</h2>

      <div class="example-form" fxLayoutAlign="center center" fxFlex="50">
        <mat-form-field class="example-full-width" style="width: 30%;">
          <!--  <mat-label>Filtrar por nombre</mat-label> -->
          <input
            matInput
            type="text"
            placeholder="Filter by name or description"
            [(ngModel)]="searchword"
            (input)="actualizarFiltro()"
          />
          <!-- style="border-style: solid;border-radius: 50px;" -->
        </mat-form-field>

        <button
          mat-raised-button
          [ngStyle]="{ 'background-color': botonLabelColor }"
          color="primary"
          [matMenuTriggerFor]="menu"
          style="margin-left: 5%;"
        >
          {{ botonLabel }}
          <!-- <mat-icon class="mat-order-icon">arrow_drop_down</mat-icon> -->
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="filtrarLabel('none')">All</button>
          <button mat-menu-item (click)="filtrarLabel('feature')" color="accent">Feature</button>
          <button mat-menu-item (click)="filtrarLabel('bug')">Bug</button>
          <button mat-menu-item (click)="filtrarLabel('tech-debt')">Tech-debt</button>
          <button mat-menu-item (click)="filtrarLabel('infrastructure')">Infrastructure</button>
        </mat-menu>

        <!-- <button
          mat-raised-button
          (click)="ordenarValor()"
          [color]="viewDone ? 'accent' : 'primary'"
          style="margin-left: 5%;"
        >
          Order by Value <mat-icon *ngIf="orderValueMode">arrow_drop_up</mat-icon>
          <mat-icon *ngIf="!orderValueMode">arrow_drop_down</mat-icon>
        </button> -->

        <button
          mat-raised-button
          [matMenuTriggerFor]="menu2"
          style="margin-left: 5%;"
          [color]="viewDone ? 'accent' : 'primary'"
        >
          <div style="display:inline-block;">
            <div *ngIf="botonOrder === 'priority' || botonOrder === 'default'" style="display:inline-block;">
              Order by: Manual
            </div>
            <div *ngIf="botonOrder === 'valueup'" style="display:inline-block;">
              Order by: Value<mat-icon class="mat-order-icon"> arrow_upward</mat-icon>
            </div>
            <div *ngIf="botonOrder === 'valuedown'" style="display:inline-block;">
              Order by: Value<mat-icon class="mat-order-icon"> arrow_downward</mat-icon>
            </div>
            <!--  <div *ngIf="botonOrder === 'default'" style="display:inline-block;">Order by</div> -->

            <mat-icon class="mat-order-icon">arrow_drop_down</mat-icon>
          </div>
        </button>

        <mat-menu #menu2="matMenu">
          <button
            mat-menu-item
            (click)="orderBy('priority')"
            matTooltip="Priority set by the Product Owner"
            matTooltipPosition="right"
            matTooltipShowDelay="500"
          >
            Manual&nbsp;<mat-icon style="font-size: medium;">open_with</mat-icon>
          </button>
          <button
            mat-menu-item
            (click)="orderBy('valueup')"
            matTooltip="Value assigned by the Product Owner"
            matTooltipPosition="right"
            matTooltipShowDelay="500"
          >
            Value<mat-icon class="mat-order-icon">arrow_upward </mat-icon>
          </button>
          <button
            mat-menu-item
            (click)="orderBy('valuedown')"
            matTooltip="Value assigned by the Product Owner"
            matTooltipPosition="right"
            matTooltipShowDelay="500"
          >
            Value<mat-icon class="mat-order-icon">arrow_downward </mat-icon>
          </button>
        </mat-menu>

        <button
          mat-raised-button
          (click)="clearSearch()"
          [color]="viewDone ? 'accent' : 'primary'"
          style="margin-left: 5%;"
        >
          Reset Filters
        </button>
      </div>

      <!-- VER DONE O BACKLOG -->
      <div fxLayoutAlign="center center" fxFlex="20">
        <button *ngIf="!viewDone" mat-raised-button color="primary" (click)="swapItemList()">
          View Done Items
        </button>
        <button *ngIf="viewDone" mat-raised-button color="accent" (click)="swapItemList()">
          View Backlog Items
        </button>
      </div>

      <div fxLayoutAlign="end center" fxFlex>
        <button
          *ngIf="!viewDone"
          class="mat-button-create mat-elevation-z9"
          mat-fab
          color="primary"
          (click)="crearPbiDialog()"
          matTooltip="Create a new PBI"
          matTooltipPosition="left"
          matTooltipShowDelay="1000"
        >
          +
        </button>
      </div>
    </div>

    <!-- BACKLOG ITEMS LIST -->
    <div class="div-list" *ngIf="!viewDone">
      <!--  <div fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="swapItemList()">
          View Done Items
        </button>
      </div>
      <br /> -->
      <div
        class="droplist"
        cdkDropList
        [cdkDropListData]="showingPbis"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListDisabled]="permisos?.ordenar == 0 || !priorityOn"
      >
        <!-- cdkDragBoundary=".droplist" -->
        <div *ngFor="let pbi of showingPbis">
          <mat-card
            *ngIf="pbi.done == 0"
            class="card mat-elevation-z9"
            cdkDrag
            (click)="editarPbiDialog(pbi)"
            (cdkDragStarted)="isDragging = true"
            (cdkDragReleased)="isDragging = false"
          >
            <!-- matBadge="{{ pbi.estimacion }}" matBadgeOverlap="true" matBadgeSize="medium" matBadgeColor="primary" -->
            <mat-card-header>
              <mat-card-title
                ><mat-icon
                  class="drag-icon"
                  *ngIf="!(permisos?.ordenar == 0 || !priorityOn)"
                  cdkDragHandle
                  matTooltip="Drag to change prioritization"
                  matTooltipPosition="above"
                  matTooltipShowDelay="500"
                  [matTooltipDisabled]="isDragging"
                  >open_with</mat-icon
                >
                #{{ pbi.idpbi }} - {{ pbi.titulo }}</mat-card-title
              >
              <div fxLayout="row" fxLayoutGap="10px" style="float:right;margin-left:auto; margin-right:0;">
                <mat-chip-list>
                  <mat-chip
                    [ngStyle]="{ 'background-color': getLabelColor(pbi.label) }"
                    color="accent"
                    selected
                    style="white-space:nowrap;"
                  >
                    {{ pbi.label }}
                  </mat-chip>
                </mat-chip-list>
                <button
                  *ngIf="pbi.estimacion != null"
                  class="estimacion"
                  mat-mini-fab
                  color="accent"
                  [disableRipple]="true"
                >
                  {{ pbi.estimacion }}
                </button>
                <!-- drag_indicator -->
                <b *ngIf="permisos?.ordenar == 0 || !priorityOn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
              </div>
            </mat-card-header>
            <mat-card-content>
              <p *ngIf="pbi.descripcion" style="color: rgb(119, 119, 119);font-size: 1.5vmin;margin-left:2%;">
                {{ pbi.descripcion | limitTo: 100 }}
              </p>
            </mat-card-content>
          </mat-card>
          <br />
        </div>
      </div>
    </div>

    <!-- DONE ITEMS LIST -->
    <div class="div-list" *ngIf="viewDone">
      <!--  <div fxLayoutAlign="center center">
        <button mat-raised-button color="accent" (click)="swapItemList()">
          View Backlog Items
        </button>
      </div> -->
      <br />
      <div class="droplist">
        <div *ngFor="let pbi of showingDonePbis">
          <mat-card *ngIf="pbi.done == 1" class="card mat-elevation-z9" (click)="verPbiDialog(pbi)">
            <!-- matBadge="{{ pbi.estimacion }}" matBadgeOverlap="true" matBadgeSize="medium" matBadgeColor="primary" -->
            <mat-card-header>
              <mat-card-title>#{{ pbi.idpbi }} - {{ pbi.titulo }}</mat-card-title>
              <div fxLayout="row" fxLayoutGap="10px" style="float:right;margin-left:auto; margin-right:0;">
                <mat-chip-list>
                  <mat-chip
                    [ngStyle]="{ 'background-color': getLabelColor(pbi.label) }"
                    color="accent"
                    selected
                    style="white-space:nowrap;"
                  >
                    {{ pbi.label }}
                  </mat-chip>
                </mat-chip-list>
                <button
                  *ngIf="pbi.estimacion != null"
                  class="estimacion"
                  mat-mini-fab
                  color="accent"
                  [disableRipple]="true"
                >
                  {{ pbi.estimacion }}
                </button>
                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
              </div>
            </mat-card-header>
            <mat-card-content>
              <p *ngIf="pbi.descripcion" style="color: rgb(119, 119, 119);font-size: 1.5vmin;margin-left:2%;">
                {{ pbi.descripcion | limitTo: 100 }}
              </p>
            </mat-card-content>
          </mat-card>
          <!-- <mat-card *ngIf="pbi.done == 1" class="card" matBadge="{{ pbi.estimacion }}" matBadgeOverlap="true"
            matBadgeSize="medium" matBadgeColor="accent" (click)="verPbiDialog(pbi)">
            <mat-card-header>
              <mat-card-title>#{{ pbi.idpbi }} - {{ pbi.titulo }}</mat-card-title>
              &nbsp;
              <mat-chip-list>
                <mat-chip [ngStyle]="{ 'background-color': getLabelColor(pbi.label) }" color="accent" selected>
                  {{ pbi.label }}
                </mat-chip>
                &nbsp;&nbsp;
                <mat-chip *ngIf="pbi.valor" color="primary" selected>
                  <p class="valor">
                    {{ pbi.valor }}
                    <mat-icon class="icon-valor">offline_bolt</mat-icon>
                  </p>
                </mat-chip>
              </mat-chip-list>

              &nbsp;&nbsp;
              <p *ngIf="pbi.descripcion" style="color: rgb(119, 119, 119);font-size: 1.5vmin;margin-left:2%;">
                {{ pbi.descripcion | limitTo: 100 }}
              </p>
            </mat-card-header>
          </mat-card> -->
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
