<div class="container">
  <div *ngIf="proyecto" fxLayout="column" fxLayoutGap="2%">
    <app-loader class="loader" [isLoading]="isLoading"></app-loader>

    <div fxLayout="row" fxLayoutGap="2%" fxFlex="40">
      <mat-card fxFlex="100" fxLayoutGap="4%">
        <highcharts-chart
          *ngIf="chartOptions"
          fxFlex="80"
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          [(update)]="updateFlag"
          style="width: 100%; display: block;"
        ></highcharts-chart>

        <mat-card fxFlex="20" style="background-color: rgb(239, 255, 253);" class="mat-elevation-z3">
          <mat-card-title>Forecast Options</mat-card-title>
          <hr />
          <h1 class="mat-h3">General</h1>

          <mat-form-field class="number-form form" appearance="outline">
            <mat-label>Deadline Sprint</mat-label>
            <input matInput type="number" [(ngModel)]="deadlineSprint" [min]="sprints.length - 1" />
          </mat-form-field>
          <mat-form-field class="number-form form" appearance="outline">
            <mat-label>Last N Sprints</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="sprintNumber"
              [min]="sprintNumberBW"
              [max]="sprints.length - 1"
            />
          </mat-form-field>
          <hr />
          <h1 class="mat-h3">Projected Average Velocity</h1>
          <h1 class="mat-h4">Velocity: {{ mediaAverage.toFixed(2) }}</h1>

          <hr />

          <h1 class="mat-h3">Average Worst and Best Velocities</h1>
          <mat-form-field class="number-form form" appearance="outline">
            <mat-label>X Worst and Best Sprints</mat-label>
            <input matInput type="number" [(ngModel)]="sprintNumberBW" min="1" [max]="sprintNumber" />
          </mat-form-field>
          <h1 class="mat-h4">Worst Velocity: {{ mediaAverageWorst.toFixed(2) }}</h1>
          <h1 class="mat-h4">Best Velocity: {{ mediaAverageBest.toFixed(2) }}</h1>
          <button class="number-form" mat-raised-button (click)="actualizarGraficoVelocidad()" color="primary">
            Update chart
          </button>
        </mat-card>
      </mat-card>
    </div>
  </div>
</div>
