<div class="container">
  <h2 mat-dialog-title>Favourite projects</h2>
  <mat-list>
    <mat-divider></mat-divider>
    <div *ngFor="let proy of proyectos">
      <mat-list-item class="list-item" (click)="toggleFavoritos(proy)">
        <div>
          <mat-icon *ngIf="proy.fav" class="icon">star</mat-icon>
          <mat-icon *ngIf="!proy.fav" class="icon">star_border</mat-icon>
        </div>
        {{ proy.nombre }}
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
  <br />
  <div mat-dialog-actions style="padding-bottom: 5%;">
    <button class="close-button" mat-raised-button (click)="close()" color="primary">Cancel</button>
    <button class="save-button" mat-raised-button (click)="save()" color="accent">Save</button>
  </div>
</div>
