<div class="container" fxLayout="column" fxLayoutAlign="center center" fxFill>
  <!-- <h2 mat-dialog-title>Create a new project</h2> -->

  <mat-card class="title-card" fxLayout="row" fxLayoutAlign="center center" style="width: 650px;">
    Create a new project
  </mat-card>

  <br />

  <!-- <hr> -->

  <div mat-dialog-content>
    <mat-form-field style="width: 650px;" appearance="outline">
      <mat-label class="mat-h3">Project name</mat-label>
      <input matInput required [(ngModel)]="name" />
    </mat-form-field>
  </div>

  <div mat-dialog-content>
    <mat-form-field style="width: 650px;" appearance="outline">
      <mat-label class="mat-h3">Description</mat-label>
      <!--  <input matInput required placeholder="Description" [(ngModel)]="descripcion" /> -->
      <textarea matInput [(ngModel)]="descripcion" style="resize: none;"></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-actions fxLayoutAlign="center center" style="padding-bottom: 5%; width: 650px;">
    <button class="close-button" mat-raised-button (click)="close()" color="primary">Close</button>

    <button class="save-button" mat-raised-button (click)="save()" [color]="'success'" [disabled]="!name">
      {{ opcion }}
    </button>
  </div>
</div>
