<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h2 mat-dialog-title>Create a new project</h2>

  <div mat-dialog-content>
    <mat-form-field>
      <input matInput required placeholder="Project name" [(ngModel)]="name" />
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput required placeholder="Description" [(ngModel)]="descripcion" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button class="close-button" mat-raised-button (click)="close()" color="primary">Close</button>
    <button class="save-button" mat-raised-button (click)="save()" color="warn" [disabled]="!name">
      {{ dialogMode | uppercase }}
    </button>
  </div>
</div>
