<div class="container" fxFlex="100">
  <app-loader class="loader" [isLoading]="isLoading"></app-loader>
  <div *ngIf="proyecto" fxLayout="column" fxLayoutGap="1%">
    <div fxFlex="20" fxLayout="row" fxLayoutGap="2%">
      <mat-card fxFlex="20" class="title-card mat-elevation-z3">
        <mat-card-header>
          <mat-card-title style="font-size: x-large">
            <span *ngIf="(permisos && permisos.archivarProyecto === 0) || !editProjectMode">{{ proyecto.nombre }}</span>

            <mat-form-field *ngIf="permisos && permisos.archivarProyecto === 1 && editProjectMode">
              <input matInput [(ngModel)]="proyecto.nombre" />
            </mat-form-field>
            &nbsp;

            <button
              *ngIf="permisos && permisos.archivarProyecto === 1 && !editProjectMode"
              mat-raised-button
              (click)="editMode()"
              color="primary"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              *ngIf="permisos && permisos.archivarProyecto === 1 && editProjectMode"
              mat-raised-button
              (click)="guardarProyecto()"
              [color]="'success'"
            >
              <mat-icon>save</mat-icon>
            </button>
          </mat-card-title>

          <mat-card-subtitle style="text-align: justify;">
            <span class="descripcion" *ngIf="(permisos && permisos.archivarProyecto === 0) || !editProjectMode">{{
              proyecto.descripcion
            }}</span>

            <mat-form-field
              *ngIf="permisos && permisos.archivarProyecto === 1 && editProjectMode"
              appearance="outline"
              style="width: 120%;"
            >
              <mat-label class="mat-h2">Description</mat-label>
              <textarea matInput [(ngModel)]="proyecto.descripcion" style="height: 200px;"></textarea>
            </mat-form-field>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <mat-card fxFlex="80" class="sprint-card mat-elevation-z3">
        <mat-card-header>
          <mat-card-title style="font-size: x-large">Sprint: </mat-card-title>
          <mat-icon
            class="arrow-icon"
            (click)="previousSprint()"
            *ngIf="permisos && permisos.sprintGoals === 1"
            matTooltip="Switch to the previous sprint (requires confirmation)"
            matTooltipPosition="below"
            matTooltipShowDelay="500"
            [matTooltipDisabled]="isFirstSprint"
            [ngStyle]="{ color: isFirstSprint ? '#cacaca' : '#000000' }"
            >chevron_left
          </mat-icon>
          <h1 class="mat-h1" style="font-size: xx-large">{{ proyecto.sprintActual }}</h1>
          <mat-icon
            class="arrow-icon"
            (click)="nextSprint()"
            *ngIf="permisos && permisos.sprintGoals === 1"
            matTooltip="Switch to the next sprint (requires confirmation)"
            matTooltipPosition="below"
            matTooltipShowDelay="500"
            >chevron_right
          </mat-icon>

          <div fxFlex="60"></div>

          <h1 class="mat-h1">Deadline:</h1>
          &nbsp;&nbsp;&nbsp;
          <!-- <input matInput type="number" [(ngModel)]="proyecto.deadline" (ngModelChange)="nextDeadline()" style="width: 50px;"/> -->
          <mat-icon
            class="arrow-icon"
            (click)="previousDeadline()"
            *ngIf="permisos && permisos.sprintGoals === 1"
            matTooltip="Shorten deadline"
            matTooltipPosition="below"
            [matTooltipDisabled]="isFirstSprintDeadline"
            matTooltipShowDelay="500"
            [ngStyle]="{ color: isFirstSprintDeadline ? '#cacaca' : '#000000' }"
            >chevron_left
          </mat-icon>
          <h1 class="mat-h1" style="font-size: xx-large">{{ proyecto.deadline }}</h1>
          <mat-icon
            class="arrow-icon"
            (click)="nextDeadline()"
            *ngIf="permisos && permisos.sprintGoals === 1"
            matTooltip="Delay deadline"
            matTooltipPosition="below"
            matTooltipShowDelay="500"
            >chevron_right
          </mat-icon>
        </mat-card-header>
        <mat-card-content>
          <div style="margin-left: 15px;">
            <!-- <b>Sprint Goal: </b><br> -->
            <div *ngIf="showingGoal && permisos && permisos.sprintGoals === 1">
              <mat-form-field appearance="outline" style="width: 85%;">
                <mat-label class="mat-h2">Sprint Goal</mat-label>
                <textarea
                  matInput
                  [(ngModel)]="showingGoal.goal"
                  (ngModelChange)="switchSaveButton()"
                  style="resize: none;"
                ></textarea>
              </mat-form-field>
              <button
                mat-raised-button
                (click)="guardarSprintGoal()"
                [color]="'success'"
                [disabled]="buttonDisabled"
                style="margin-left: 2%;display: inline-block;width: 9vmin;height: 5vmin;min-width: 100px;min-height: 50px;"
              >
                <mat-icon>save</mat-icon>&nbsp;&nbsp;Save
              </button>
            </div>
            <div *ngIf="showingGoal && permisos && permisos.sprintGoals === 0">
              <b class="mat-h3"><b>Goal: </b></b>
              <p style="color: rgb(119, 119, 119);display: inline-block;margin-top: 5px; text-align: justify;">
                {{ showingGoal.goal }}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card class="main-card gradient" fxFlex="80" *ngIf="permisos && proyecto">
      <mat-tab-group
        class="gradient"
        mat-align-tabs="center"
        [(selectedIndex)]="tabIndex"
        (selectedTabChange)="onTabChanged($event)"
      >
        <mat-tab label="Overview">
          <app-overview #overview [proyecto]="proyecto" [permisos]="permisos"></app-overview>
        </mat-tab>

        <mat-tab label="Backlog">
          <app-backlog #backlog [proyecto]="proyecto" [permisos]="permisos"></app-backlog>
        </mat-tab>

        <mat-tab label="Forecasts" *ngIf="isProductOwner || isStakeholder" [disabled]="permisos.proyecciones != 1">
          <!-- <ng-template mat-tab-label>
            <span matTooltip="Only Product Owners can access this menu"
              [matTooltipDisabled]="permisos.proyecciones == 1" matTooltipShowDelay="500">Forecasts</span>
          </ng-template> -->
          <app-forecasts #forecasts [proyecto]="proyecto" [permisos]="permisos"></app-forecasts>
        </mat-tab>

        <!--  <mat-tab label="Stakeholders">
          <app-stakeholders #stakeholders [proyecto]="proyecto" [permisos]="permisos"></app-stakeholders>
        </mat-tab> -->
      </mat-tab-group>
    </mat-card>
  </div>
</div>
