<div class="container" fxFlex="100">
  <app-loader class="loader" [isLoading]="isLoading"></app-loader>
  <div *ngIf="proyecto" fxLayout="column" fxLayoutGap="1%">
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="2%">
      <mat-card fxFlex="20" class="title-card mat-elevation-z3">
        <mat-card-header>
          <mat-card-title style="font-size: x-large">
            <span *ngIf="(permisos && permisos.archivarProyecto === 0) || !editProjectMode">{{ proyecto.nombre }}</span>

            <mat-form-field *ngIf="permisos && permisos.archivarProyecto === 1 && editProjectMode">
              <input matInput [(ngModel)]="proyecto.nombre" />
            </mat-form-field>
            &nbsp;

            <button
              *ngIf="permisos && permisos.archivarProyecto === 1 && !editProjectMode"
              mat-raised-button
              (click)="editMode()"
              color="primary"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              *ngIf="permisos && permisos.archivarProyecto === 1 && editProjectMode"
              mat-raised-button
              (click)="guardarProyecto()"
              [color]="'success'"
            >
              <mat-icon>save</mat-icon>
            </button>
          </mat-card-title>

          <mat-card-subtitle style="text-align: justify;">
            <span class="descripcion" *ngIf="(permisos && permisos.archivarProyecto === 0) || !editProjectMode">{{
              proyecto.descripcion
            }}</span>

            <mat-form-field
              *ngIf="permisos && permisos.archivarProyecto === 1 && editProjectMode"
              appearance="outline"
              style="width: 120%;"
            >
              <mat-label class="mat-h2">Description</mat-label>
              <textarea matInput [(ngModel)]="proyecto.descripcion" style="height: 200px;"></textarea>
            </mat-form-field>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <mat-card fxFlex="30" class="sprint-card mat-elevation-z3">
        <mat-card-header>
          <mat-card-title style="font-size: x-large">Sprint: </mat-card-title>
          <mat-icon
            class="arrow-icon"
            (click)="previousSprint()"
            *ngIf="permisos && permisos.sprintGoals === 1"
            matTooltip="Switch to the previous sprint (requires confirmation)"
            matTooltipPosition="below"
            matTooltipShowDelay="500"
            [matTooltipDisabled]="isFirstSprint"
            [ngStyle]="{ color: isFirstSprint ? '#cacaca' : '#000000' }"
            >chevron_left
          </mat-icon>
          <h1 class="mat-h1" style="font-size: xx-large">{{ proyecto.sprintActual }}</h1>
          <mat-icon
            class="arrow-icon"
            (click)="nextSprint()"
            *ngIf="permisos && permisos.sprintGoals === 1"
            matTooltip="Switch to the next sprint (requires confirmation)"
            matTooltipPosition="below"
            matTooltipShowDelay="500"
            >chevron_right
          </mat-icon>

          <div fxFlex="60"></div>

          <h1 class="mat-h1">Deadline:</h1>
          &nbsp;&nbsp;&nbsp;
          <!-- <input matInput type="number" [(ngModel)]="proyecto.deadline" (ngModelChange)="nextDeadline()" style="width: 50px;"/> -->
          <mat-icon
            class="arrow-icon"
            (click)="previousDeadline()"
            *ngIf="permisos && permisos.sprintGoals === 1"
            matTooltip="Shorten deadline"
            matTooltipPosition="below"
            [matTooltipDisabled]="isFirstSprintDeadline"
            matTooltipShowDelay="500"
            [ngStyle]="{ color: isFirstSprintDeadline ? '#cacaca' : '#000000' }"
            >chevron_left
          </mat-icon>
          <h1 class="mat-h1" style="font-size: xx-large">{{ proyecto.deadline }}</h1>
          <mat-icon
            class="arrow-icon"
            (click)="nextDeadline()"
            *ngIf="permisos && permisos.sprintGoals === 1"
            matTooltip="Delay deadline"
            matTooltipPosition="below"
            matTooltipShowDelay="500"
            >chevron_right
          </mat-icon>
        </mat-card-header>
        <mat-card-content>
          <div style="margin-left: 15px;">
            <div *ngIf="showingGoal && permisos && permisos.sprintGoals === 1" fxLayoutAlign="end start">
              <mat-form-field appearance="outline" fxFlex="80">
                <mat-label class="mat-h2">Sprint Goal</mat-label>
                <textarea
                  matInput
                  [(ngModel)]="showingGoal.goal"
                  (ngModelChange)="switchSaveButton()"
                  style="resize: none;min-height: 100px;"
                ></textarea>
              </mat-form-field>
              <ng-container>
                <button
                  fxFlex="20"
                  mat-raised-button
                  (click)="guardarSprintGoal()"
                  [color]="'success'"
                  [disabled]="buttonDisabled"
                  class="boton-save"
                  style="margin-left: 2%;display: inline-block;"
                >
                  <mat-icon>save</mat-icon>&nbsp;&nbsp;Save
                </button>
              </ng-container>
            </div>

            <div *ngIf="showingGoal && permisos && permisos.sprintGoals === 0">
              <b class="mat-h3"><b>Goal: </b></b>
              <p style="color: rgb(119, 119, 119);display: inline-block;margin-top: 5px; text-align: justify;">
                {{ showingGoal.goal }}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="50" class="release-card mat-elevation-z3">
        <mat-card-header>
          <mat-card-title style="font-size: x-large">Releases</mat-card-title>
          <div fxFlex="40"></div>
        </mat-card-header>
        <mat-card-content *ngIf="releases">
          <div style="margin-left: 15px;">
            <mat-horizontal-stepper #stepper selectedIndex="0" style="background-color: rgba(255, 255, 255, 0);">
              <!--  labelPosition="bottom" -->

              <!--  <ng-template matStepperIcon="previous">
                <mat-icon>check</mat-icon>
              </ng-template> -->
              <ng-template matStepperIcon="current">
                <mat-icon>flag</mat-icon>
              </ng-template>
              <ng-template matStepperIcon="next">
                <mat-icon>arrow_forward</mat-icon>
              </ng-template>
              <ng-template matStepperIcon="create">
                <mat-icon>add</mat-icon>
              </ng-template>
              <ng-template matStepperIcon="viewAll">
                <mat-icon>visibility</mat-icon>
              </ng-template>

              <ng-template matStepperIcon="done" let-index="index" let-active="active">
                <mat-icon *ngIf="index === 0">flag</mat-icon>
                <!-- <mat-icon *ngIf="index === 1">arrow_forward</mat-icon> -->
                <mat-icon *ngIf="index === 1">add</mat-icon>
                <mat-icon *ngIf="index === 2">visibility</mat-icon>
                <ng-template #default>
                  <mat-icon *ngIf="index === 0">flag</mat-icon>
                </ng-template>
              </ng-template>

              <mat-step *ngIf="currentRelease" [label]="labelRelease" [completed]="true" state="current">
                <mat-card fxLayout="row wrap" fxLayoutGap="20px">
                  <div fxFlex>
                    <h4 class="body-2" style="margin-bottom: 0;margin-top: 0;">{{ currentRelease.version }}</h4>
                    <div>{{ currentRelease.descripcion }}</div>
                  </div>
                  <div fxFlex="30">
                    <div style="margin-bottom: 5px;">
                      <b class="body-2" class="release-card-text">Release Sprint:</b>&nbsp;
                      <p class="release-card-text">{{ currentRelease.sprint }}</p>
                    </div>
                    <b class="body-2" class="release-card-text">Remaining Story Points:</b>&nbsp;
                    <p class="release-card-text">{{ currentReleaseSPs }}</p>
                  </div>
                </mat-card>
              </mat-step>

              <mat-step label="Create release" [completed]="true" state="create" *ngIf="isProductOwner">
                <mat-card fxLayout="column">
                  <form [formGroup]="releaseForm" (ngSubmit)="crearRelease()">
                    <mat-card-title class="body-2">Create release</mat-card-title>
                    <div fxLayoutGap="10px" fxLayout="row">
                      <div fxFlex="30" fxLayout="column">
                        <mat-form-field appearance="outline">
                          <mat-label>Version</mat-label>
                          <input matInput formControlName="version" [errorStateMatcher]="matcher" />
                          <mat-error *ngIf="releaseForm.get('version').errors?.required"
                            >Version is required
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Release sprint</mat-label>
                          <input matInput type="number" formControlName="sprint" [errorStateMatcher]="matcher" />
                          <mat-error *ngIf="releaseForm.get('sprint').errors?.required"
                            >Release sprint is required
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div fxFlex="70" fxLayout="column" fxLayoutGap="5px">
                        <mat-form-field appearance="outline">
                          <mat-label>Release description</mat-label>
                          <textarea
                            matInput
                            formControlName="description"
                            style="resize: none;min-height: 100px;"
                          ></textarea>
                        </mat-form-field>
                        <button
                          mat-raised-button
                          [color]="'success'"
                          class="boton-save"
                          style="align-self: flex-end;"
                          type="submit"
                          [disabled]="!releaseForm.valid || !releaseForm.dirty"
                        >
                          <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;Create
                        </button>
                      </div>
                    </div>
                  </form>
                </mat-card>
              </mat-step>

              <mat-step label="View all releases" [completed]="true" state="viewAll">
                <div fxLayout="column" fxLayoutGap="10px" cdkScrollable>
                  <mat-card-title class="body-2">All releases</mat-card-title>

                  <mat-card
                    *ngFor="let rel of releases"
                    [ngStyle]="{
                      border: isCurrentRelease(rel) ? 'grey' : 'none',
                      'border-style': isCurrentRelease(rel) ? 'groove' : 'none'
                    }"
                  >
                    <!-- PLANTILLA LISTADO RELEASE -->
                    <ng-container *ngIf="!isEditingRelease(rel)">
                      <div>
                        <h4 class="body-2" style="margin-bottom: 0;margin-top: 0;">
                          <mat-chip [selectable]="false" color="primary" selected
                            >{{ rel.version }}
                            <i class="mat-body" *ngIf="isCurrentRelease(rel)">&nbsp;(current) </i>
                          </mat-chip>
                          <span class="body-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Release sprint:</span>
                          <span class="mat-body">
                            {{ rel.sprint }}
                          </span>
                        </h4>
                        <p style="overflow-wrap: break-word;">{{ rel.descripcion }}</p>
                      </div>
                      <div *ngIf="isProductOwner" fxLayoutGap="10px">
                        <button mat-raised-button color="primary" (click)="setEditingRelease(rel)">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-raised-button color="warn" (click)="borrarRelease(rel)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </ng-container>
                    <!-- PLANTILLA EDITAR RELEASE -->
                    <ng-container *ngIf="isEditingRelease(rel)">
                      <form [formGroup]="releaseForm" (ngSubmit)="editarRelease()">
                        <div fxLayoutGap="10px" fxLayout="row">
                          <div fxFlex="30" fxLayout="column">
                            <mat-form-field appearance="outline">
                              <mat-label>Version</mat-label>
                              <input matInput formControlName="version" [errorStateMatcher]="matcher" />
                              <mat-error *ngIf="releaseForm.get('version').errors?.required"
                                >Version is required
                              </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Release sprint</mat-label>
                              <input matInput type="number" formControlName="sprint" [errorStateMatcher]="matcher" />
                              <mat-error *ngIf="releaseForm.get('sprint').errors?.required"
                                >Release sprint is required
                              </mat-error>
                            </mat-form-field>
                          </div>

                          <div fxFlex="70" fxLayout="column" fxLayoutGap="5px">
                            <mat-form-field appearance="outline">
                              <mat-label>Release description</mat-label>
                              <textarea
                                matInput
                                formControlName="description"
                                style="resize: none;min-height: 100px;"
                              ></textarea>
                            </mat-form-field>
                          </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px" style="align-self: flex-end;">
                          <button
                            mat-raised-button
                            color="warn"
                            class="boton-save"
                            style="align-self: flex-end;"
                            (click)="resetEditingRelease()"
                          >
                            <mat-icon>clear</mat-icon>&nbsp;&nbsp;Cancel
                          </button>
                          <button
                            mat-raised-button
                            [color]="'success'"
                            class="boton-save"
                            style="align-self: flex-end;"
                            type="submit"
                            [disabled]="!releaseForm.valid"
                          >
                            <mat-icon>create</mat-icon>&nbsp;&nbsp;Save
                          </button>
                        </div>
                      </form>
                    </ng-container>
                  </mat-card>

                  <!-- <div fxFlex="30" fxLayout="column">
                    <mat-form-field appearance="outline">
                      <mat-label>Version</mat-label>
                      <input matInput />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Sprint to finish</mat-label>
                      <input matInput type="number" />
                    </mat-form-field>
                  </div>

                  <div fxFlex="70" fxLayout="column" fxLayoutGap="5px">
                    <mat-form-field appearance="outline">
                      <mat-label>Release description</mat-label>
                      <textarea matInput style="resize: none;min-height: 100px;"></textarea>
                    </mat-form-field>
                    <button mat-raised-button [color]="'success'" class="boton-save" style="align-self: flex-end;">
                      <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;Create
                    </button>
                  </div> -->
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card class="main-card gradient" fxFlex="80" *ngIf="permisos && proyecto">
      <mat-tab-group
        #tabGroup
        class="gradient"
        mat-align-tabs="center"
        [(selectedIndex)]="tabIndex"
        (selectedTabChange)="onTabChanged($event)"
      >
        <mat-tab label="Overview">
          <app-overview #overview [proyecto]="proyecto" [permisos]="permisos"></app-overview>
        </mat-tab>

        <mat-tab label="Backlog">
          <app-backlog #backlog [proyecto]="proyecto" [permisos]="permisos" (onNotify)="onNotify($event)"></app-backlog>
        </mat-tab>

        <mat-tab label="Forecasts" *ngIf="isProductOwner || isStakeholder" [disabled]="permisos.proyecciones != 1">
          <!-- <ng-template mat-tab-label>
            <span matTooltip="Only Product Owners can access this menu"
              [matTooltipDisabled]="permisos.proyecciones == 1" matTooltipShowDelay="500">Forecasts</span>
          </ng-template> -->
          <app-forecasts #forecasts [proyecto]="proyecto" [permisos]="permisos"></app-forecasts>
        </mat-tab>

        <mat-tab label="NR Advisor" *ngIf="isProductOwner || isStakeholder">
          <app-nrp-solver
            #nrpSolver
            [proyecto]="proyecto"
            [permisos]="permisos"
            (eventBacklogSavedParent)="eventBacklogSavedParent()"
          ></app-nrp-solver>
        </mat-tab>

        <!--  <mat-tab label="Stakeholders">
          <app-stakeholders #stakeholders [proyecto]="proyecto" [permisos]="permisos"></app-stakeholders>
        </mat-tab> -->
      </mat-tab-group>
    </mat-card>
  </div>
</div>
