@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
h1 {
  font-family: "Roboto", sans-serif;
}
.container {
  text-align: left;
  padding: 1rem;
}
.loader {
  position: relative;
  margin-left: 50%;
}
.mat-icon {
  vertical-align: middle;
}

.account-card {
  background-color: #ffffff;
}

.form {
  margin-right: 3%;
}

.title {
  width: 30%;
}
