@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
h1 {
  font-family: "Roboto", sans-serif;
}
.container {
  text-align: left;
  padding: 1rem;
  /*   background-color:  #f3f3f3;*/

  background: radial-gradient(circle, rgba(174, 238, 186, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.test {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 0.3841737378545168) 0%,
    rgba(253, 29, 29, 0.1600841020001751) 50%,
    rgba(252, 176, 69, 0.3841737378545168) 100%
  );
}

.loader {
  position: relative;
  margin-left: 50%;
}

.mat-icon {
  vertical-align: middle;
}

.proyectos-card {
  background-color: #ffffff;
}

.proyecto-card {
  background-color: #dfeeff;
}

table {
  width: 100%;
}
.button-invite {
  max-height: 50px;
  /*  width: 20vw; */
  margin-top: 2%;
}

.borrar-usuario {
  display: none;
  cursor: pointer;
  color: red;
}
.borrar-hueco {
}
tr:hover .borrar-hueco {
  display: none;
}
tr:hover {
  background-color: rgb(241, 241, 241);
}
tr:hover .borrar-usuario {
  display: block;
}
