<div class="container">
  <div *ngIf="proyecto" fxLayout="column" fxLayoutGap="30px">
    <app-loader class="loader" [isLoading]="isLoading"></app-loader>

    <div fxLayout="row" fxLayoutGap="2%" fxFlex="40">
      <mat-card fxFlex="80">
        <highcharts-chart
          *ngIf="chartOptions"
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          style="width: 100%; height: 550px; display: block;"
        ></highcharts-chart>
      </mat-card>

      <div fxFlex="20" fxLayout="column" fxLayoutGap="30px">
        <mat-card fxFlex>
          <mat-card-title>Team</mat-card-title>
          <table mat-table [dataSource]="dataTable" style="overflow-y: scroll;">
            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let usuario">
                <div class="borrar-hueco">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <mat-icon
                  *ngIf="usuario.idusuario !== idusuario"
                  class="borrar-usuario"
                  (click)="eliminarUsuario(usuario)"
                >
                  remove_circle</mat-icon
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef>Nick</th>
              <td mat-cell *matCellDef="let usuario">{{ usuario.nick }}</td>
            </ng-container>
            <ng-container matColumnDef="Role">
              <th mat-header-cell *matHeaderCellDef>Role</th>
              <td mat-cell *matCellDef="let usuario">
                <p *ngIf="usuario.rol == 'productOwner'">Product Owner</p>
                <p *ngIf="usuario.rol == 'desarrollador'">Developer</p>
                <p *ngIf="usuario.rol == 'stakeholder'">Stakeholder</p>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="0"></mat-paginator>
        </mat-card>

        <!--  <h1 class="mat-h2" fxFlex="20">Invite New Member</h1> -->
        <mat-accordion *ngIf="permisos && permisos.mantenerUsuarios == 1">
          <mat-expansion-panel style="background-color: rgb(239, 255, 253);">
            <mat-expansion-panel-header style="background-color:rgb(239, 255, 253);">
              <mat-panel-title>
                <h1 class="mat-h2" style="margin: 5px;;">Invite New Member</h1>
              </mat-panel-title>
              <!-- <mat-panel-description>
                  Type your name and age
                </mat-panel-description> -->
            </mat-expansion-panel-header>
            <!--  <mat-card fxFlex="35" fxLayout="column" *ngIf="permisos && permisos.mantenerUsuarios == 1"> -->
            <div fxLayout="column">
              <div fxLayout="row" fxFlex="40">
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>Introduce an email</mat-label>
                  <input matInput class="form" placeholder="Introduce an email" [(ngModel)]="newEmail" />
                </mat-form-field>
              </div>

              <div fxLayout="row" fxFlex="60" fxLayoutGap="20px">
                <mat-form-field fxFlex="60" appearance="outline">
                  <mat-label>Role</mat-label>
                  <mat-select [(value)]="selectedRol">
                    <mat-option *ngFor="let rol of roles" [value]="rol.value">
                      {{ rol.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button
                  fxFlex="40"
                  class="button-invite"
                  mat-raised-button
                  (click)="invitar()"
                  color="primary"
                  fxFlex="40"
                  [disabled]="!(newEmail && newEmail.length > 0)"
                >
                  Invite
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="2%" fxFlex="40">
      <mat-card fxFlex="100">
        <highcharts-chart
          *ngIf="chartOptionsPoC"
          [Highcharts]="Highcharts"
          [options]="chartOptionsPoC"
          style="width: 100%; height: 550px; display: block;"
        ></highcharts-chart>
      </mat-card>

      <!--  <mat-card fxFlex="20"> </mat-card> -->
    </div>

    <!--     <div fxLayout="row" fxLayoutGap="2%" fxFlex="40">

      <mat-card fxFlex="20">
        <mat-card-title>Team:</mat-card-title>
        <table mat-table [dataSource]="proyecto.usuarios">
          <ng-container matColumnDef="Rol">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let usuario">
              <p *ngIf="usuario.rol == 'productOwner'">Product Owner</p>
              <p *ngIf="usuario.rol == 'desarrollador'">Developer</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let usuario">{{ usuario.nombre }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card>

      <mat-card fxFlex="80">
        
      </mat-card>

    </div> -->
  </div>
</div>
