<mat-card
  *ngIf="nrpUsed"
  class="container mat-elevation-z3"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="2%"
>
  <!-- *ngIf="nrpUsed"  -->

  <div fxLayout="row" fxFill fxLayoutAlign="center center">
    <h1 class="mat-h1" style="text-align: center;">
      Backlog Proposal
    </h1>
    <mat-icon
      style="margin-bottom: 16px;"
      class="help-icon"
      [matTooltip]="tooltipBacklog"
      matTooltipPosition="above"
      matTooltipShowDelay="0"
    >
      help
    </mat-icon>
  </div>

  <div fxLayout="column" fxFill fxLayoutAlign="center center" fxLayoutGap="2%">
    <mat-card
      *ngIf="warning && displayWarning"
      fxFill
      style="background-color: rgba(255, 153, 153, 0.438);display: flex;align-items:center ;"
    >
      <mat-icon>
        report_problem
      </mat-icon>
      <span style="font-size: 0.8vw;">{{ tooltipWarning }}</span>
      <button mat-icon-button class="close-button" (click)="closeWarning()">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button>
    </mat-card>

    <div fxLayout="row" fxFill fxLayoutAlign="end start" fxLayoutGap="2%">
      <mat-card fxFlex="80" class="mat-elevation-z2" style="background-color: rgb(247, 247, 247);">
        <mat-card-title style="font-size: 18px;text-align: center;">Stakeholders Interest</mat-card-title>
        <mat-grid-list cols="2" rowHeight="30px" gutterSize="20px">
          <mat-grid-tile *ngFor="let stakeholderHappiness of stakeholderHappinessList">
            <div fxFlex>
              <mat-progress-bar
                class=""
                mode="determinate"
                style="height: 5px;"
                [value]="percentageHappiness(stakeholderHappiness)"
                [appProgressBarColor]="getPercentageColorStyle(stakeholderHappiness)"
              >
              </mat-progress-bar>
              &nbsp;<span style="font-size: 15px;color: rgb(146, 146, 146);">{{
                stakeholderHappiness.stakeholderName
              }}</span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>

      <div fxFlex>
        <button
          mat-raised-button
          color="primary"
          (click)="setBacklog()"
          [disabled]="isBacklogEmpty || !allowSetBacklog"
        >
          <mat-icon>archive</mat-icon>&nbsp; Set Backlog
        </button>
        &nbsp;<mat-icon
          class="help-icon"
          [matTooltip]="tooltipSetBacklog"
          matTooltipPosition="above"
          matTooltipShowDelay="0"
        >
          help
        </mat-icon>
      </div>
    </div>
    <app-loader class="loader" [isLoading]="isLoading"></app-loader>
  </div>
  <br />
  <mat-card-subtitle *ngIf="backlog.length <= 0">Select a proposal to view details</mat-card-subtitle>
  <mat-card-content fxFlex="100" fxLayoutAlign="center start" fxLayout="column" fxFill style="padding-top: 2%;">
    <div
      class="droplist"
      cdkDropList
      [cdkDropListData]="backlog"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListDisabled]="permisos?.ordenar == 0"
      fxLayout="column"
      fxFill
      fxLayoutGap="1%"
    >
      <ng-container *ngFor="let pbi of backlog">
        <mat-card
          *ngIf="pbi.done == 0"
          class="card mat-elevation-z9"
          cdkDrag
          (cdkDragStarted)="isDragging = true"
          (cdkDragReleased)="isDragging = false"
          (click)="verPbiDialog(pbi)"
          [ngStyle]="{ 'background-color': getPbiIncluded(pbi) ? '#cbffbc' : '#f5f5f5' }"
        >
          <mat-card-header>
            <mat-card-title>
              <mat-icon
                class="drag-icon"
                *ngIf="!(permisos?.ordenar == 0)"
                cdkDragHandle
                matTooltip="Drag to change prioritization"
                matTooltipPosition="above"
                matTooltipShowDelay="500"
                [matTooltipDisabled]="isDragging"
                >open_with</mat-icon
              >
              <!-- #{{ pbi.idpbi }} -  -->{{ pbi.titulo }}
            </mat-card-title>
            <div fxLayout="row" fxLayoutGap="10px" style="float:right;margin-left:auto; margin-right:0;">
              <mat-chip-list>
                <mat-chip
                  [ngStyle]="{ 'background-color': getLabelColor(pbi.label) }"
                  color="accent"
                  selected
                  style="white-space:nowrap;"
                >
                  {{ pbi.label }}
                </mat-chip>
              </mat-chip-list>
              <button
                *ngIf="pbi.estimacion != null"
                class="estimacion"
                mat-mini-fab
                color="accent"
                [disableRipple]="true"
              >
                {{ pbi.estimacion }}
              </button>
              <b *ngIf="permisos?.ordenar == 0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p *ngIf="pbi.descripcion" style="color: rgb(119, 119, 119);font-size: 1.5vmin;margin-left:2%;">
              {{ pbi.descripcion | limitTo: 50 }}
            </p>
          </mat-card-content>
        </mat-card>
        <br />
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
