<mat-card fxFill class="mat-elevation-z3" fxLayout="row">
  <highcharts-chart
    *ngIf="chartOptions"
    class="chart"
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [(update)]="updateFlag"
  ></highcharts-chart>

  <mat-accordion style="position: absolute;right: 1%;">
    <mat-expansion-panel class="options-poly mat-elevation-z2" style="width: 350px;" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: x-large;">
          Regression Options
        </mat-panel-title>
      </mat-expansion-panel-header>
      <hr />
      <h1 class="mat-h3">
        General
        <mat-icon
          class="warning-icon"
          matTooltip="Low &lt;Last N Sprint&gt; values may produce wrong predictions"
          matTooltipPosition="below"
          >warning</mat-icon
        >
      </h1>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Release</mat-label>
          <mat-select [(ngModel)]="release" (selectionChange)="actualizarDeadline()">
            <mat-option [value]="null" required>Not defined</mat-option>
            <mat-option
              *ngFor="let rel of releases"
              [value]="rel"
              [matTooltip]="'(Sprint: ' + rel.sprint + ') ' + rel.descripcion"
              matTooltipPosition="left"
              matTooltipShowDelay="500"
              matTooltipClass="tooltip-release"
              required
            >
              <ng-container *ngIf="rel === currentRelease"> {{ rel.version }}&nbsp;<i>(current)</i> </ng-container>
              <ng-container *ngIf="rel !== currentRelease">
                {{ rel.version }}
              </ng-container>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field appearance="outline" style="width: 40%;">
          <mat-label>Deadline Sprint</mat-label>
          <input matInput type="number" [(ngModel)]="deadlineSprint" [min]="sprints.length - 1" [disabled]="release" />
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 40%;">
          <mat-label>Last N Sprints</mat-label>
          <input matInput type="number" [(ngModel)]="sprintNumber" [min]="1" [max]="sprints.length - 1" />
        </mat-form-field>
      </div>

      <!--  <hr />
      <h1 class="mat-h3">Polynomial Configuration</h1>
      <mat-form-field class="number-form form" appearance="outline">
        <mat-label>Polynomial Degree</mat-label>
        <input matInput type="number" [(ngModel)]="degree" [min]="1" [max]="5" disabled="true" />
      </mat-form-field> -->
      <br />
      <div fxLayout="row" fxLayoutGap="10px">
        <button class="number-form" mat-raised-button (click)="updateChart()" color="primary">
          Update chart
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!--   <mat-card fxFlex="20" class="options mat-elevation-z3">
    <mat-card-title>Regression Options</mat-card-title>
    <hr />
    <h1 class="mat-h3">General</h1>
    <mat-form-field class="number-form form" appearance="outline">
      <mat-label>Last N Sprints</mat-label>
      <input matInput type="number" [(ngModel)]="sprintNumber" [min]="1" [max]="sprints.length - 1" />
    </mat-form-field>
    <hr />
    <h1 class="mat-h3">Polynomial Degree</h1>
    <mat-form-field class="number-form form" appearance="outline">
      <mat-label>Polynomial Degree</mat-label>
      <input matInput type="number" [(ngModel)]="degree" [min]="1" [max]="5" />
    </mat-form-field>
    <br>
    <button class="number-form" mat-raised-button (click)="updateChart()" color="primary">
      Update chart
    </button>
  </mat-card> -->
</mat-card>
