<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>
  <div fxHide.lt-md>
    <!-- <a class="brand" href="https://github.com/victorperezpiqueras/TFG" translate>APP_NAME</a> -->
    <!-- <a>
      <img class="logo" src="../../assets/avatar2.png" />

    </a> -->
    <button class="logo-button" disableRipple="true" mat-icon-button routerLink="/projects" routerLinkActive="active">
      <img class="logo" src="../../assets/avatar2.png" />
    </button>

    <!-- <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span translate>Home</span>
    </button> -->
    <button mat-button routerLink="/projects" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span translate>Home</span>
    </button>

    <button mat-button routerLink="/comparer" routerLinkActive="active">
      <mat-icon>show_chart</mat-icon>
      <span translate>Comparer</span>
    </button>

    <!-- <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span translate>About</span>
    </button> -->

    <!-- <button mat-button routerLink="/proyectos" routerLinkActive="active">
      <mat-icon>folder</mat-icon>
      <span translate>Projects</span>
    </button> -->
    <button
      mat-button
      *ngFor="let proy of proyectosFavoritos"
      [routerLink]="['/projects', proy.idproyecto]"
      routerLinkActive="active"
      (click)="proyectoSeleccionado(proy)"
    >
      <mat-icon>star</mat-icon>
      <span>{{ proy.nombre }}</span>
    </button>

    <button
      mat-icon-button
      class="add"
      (click)="agregarFavorito()"
      matTooltip="Add projects to favourites"
      matTooltipPosition="right"
      matTooltipShowDelay="500"
    >
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
  <span fxFlex></span>

  <button mat-icon-button routerLink="/about" routerLinkActive="active">
    <mat-icon>info</mat-icon>
  </button>

  <!-- <button mat-icon-button [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
      {{ language }}
    </button>
  </mat-menu> -->

  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item [routerLink]="['/account']" routerLinkActive="active">Account</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu>
</mat-toolbar>
