<div class="container" fxFill>
  <div *ngIf="proyecto" fxLayout="column" fxLayoutGap="1%">
    <app-loader class="loader" [isLoading]="isLoading"></app-loader>

    <mat-card>
      <mat-card-content fxLayout="column">
        <h2>Generate Next Release</h2>

        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="start center" fxFill>
          <button
            *ngIf="!loadingNRP"
            fxFlex="10"
            mat-raised-button
            color="primary"
            (click)="findNrp()"
            style="font: size 2vw;"
          >
            <span> <mat-icon>model_training</mat-icon>&nbsp; Find Next Releases </span>
          </button>

          <button *ngIf="loadingNRP" fxFlex="10" mat-raised-button color="warn" style="font: size 2vw;">
            <span *ngIf="loadingNRP">
              Loading...
            </span>
          </button>

          <div *ngIf="loadingNRP" fxLayout="column" fxFlex="90" fxLayoutAlign="center start">
            <mat-card-subtitle fxFill style="padding-top: 10px;" fxLayoutAlign="center start">
              <span style="text-align: center;">{{ loadingFrase }}</span>
              <!-- This might take a few seconds... -->
            </mat-card-subtitle>
            <mat-progress-bar [color]="primary" [mode]="'indeterminate'"></mat-progress-bar>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="1%">
      <app-nrp-chart fxFlex="50" #nrpChart (eventProposalSelected)="eventProposalSelected($event)"></app-nrp-chart>

      <app-nrp-backlog fxFlex="50" #nrpBacklog [proyecto]="proyecto" [permisos]="permisos"></app-nrp-backlog>
    </div>
  </div>
</div>
