<div class="container" fxFill>
  <div *ngIf="proyecto && releases && currentRelease" fxLayout="column" fxLayoutGap="1%">
    <app-loader class="loader" [isLoading]="isLoading"></app-loader>

    <mat-card>
      <mat-card-content fxLayout="column">
        <h2 class="mat-h1">Next Release Advisor</h2>

        <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="start center" fxFill>
          <button mat-raised-button fxFlex="12" color="primary" [matMenuTriggerFor]="menu" [disabled]="loadingNRP">
            {{ searchTypeButtonLabel }}
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="setSearchType(searchTypeButtonLabelOptions[0])">
              {{ searchTypeButtonLabelOptions[0] }}&nbsp;&nbsp;
              <mat-icon
                [matTooltip]="searchOptionsHelpMessages[0]"
                matTooltipPosition="right"
                matTooltipShowDelay="800"
              >
                help
              </mat-icon>
            </button>
            <button
              mat-menu-item
              (click)="setSearchType(searchTypeButtonLabelOptions[1] + ' ' + currentRelease.version, currentRelease)"
            >
              {{ searchTypeButtonLabelOptions[1] }} ({{ currentRelease.version }})&nbsp;&nbsp;
              <mat-icon
                [matTooltip]="searchOptionsHelpMessages[1]"
                matTooltipPosition="right"
                matTooltipShowDelay="800"
              >
                help
              </mat-icon>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="menu2">
              {{ searchTypeButtonLabelOptions[2] }}&nbsp;&nbsp;
              <mat-icon
                [matTooltip]="searchOptionsHelpMessages[2]"
                matTooltipPosition="below"
                matTooltipShowDelay="800"
              >
                help
              </mat-icon>
            </button>
            <mat-menu #menu2="matMenu">
              <button
                mat-menu-item
                *ngFor="let release of releases"
                (click)="setSearchType('Release ' + release.version, release)"
              >
                Release {{ release.version }}
              </button>
            </mat-menu>
          </mat-menu>

          <button
            *ngIf="!loadingNRP"
            fxFlex="12"
            mat-raised-button
            color="primary"
            (click)="findNrp()"
            style="font: size 2vw;"
          >
            <mat-icon>model_training</mat-icon>&nbsp; Find Next Releases
          </button>

          <button *ngIf="loadingNRP" fxFlex="12" mat-raised-button color="warn" style="font: size 2vw;">
            <span *ngIf="loadingNRP">
              Loading...
            </span>
          </button>

          <div *ngIf="loadingNRP" fxLayout="column" fxFlex="90" fxLayoutAlign="center start">
            <mat-card-subtitle fxFill style="padding-top: 10px;" fxLayoutAlign="center start">
              <span style="text-align: center;">{{ loadingFrase }}</span>
              <!-- This might take a few seconds... -->
            </mat-card-subtitle>
            <mat-progress-bar [color]="primary" [mode]="'indeterminate'"></mat-progress-bar>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="1%">
      <app-nrp-chart fxFlex="40" #nrpChart (eventProposalSelected)="eventProposalSelected($event)" [nrpUsed]="nrpUsed">
      </app-nrp-chart>

      <app-nrp-backlog
        fxFlex="60"
        #nrpBacklog
        [proyecto]="proyecto"
        [permisos]="permisos"
        [nrpUsed]="nrpUsed"
        (eventBacklogSaved)="eventBacklogSaved($event)"
      ></app-nrp-backlog>
    </div>
  </div>
</div>
